*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    --size_1: 0.625rem;
    --size_2: 0.75rem;
    --size_3: 0.875rem;
    --size_4: 1rem;
    --size_5: 1.125rem;
    --size_6: 1.25rem;
    --size_7: 1.5rem;
    --size_8: 1.875rem;
    --size_9: 2rem;
    --fire: #f08030;
    --fighting: #c03028;
    --psychic: #f85888;
    --fairy: #ee99ac;
    --poison: #a040a0;
    --dragon: #7038f8;
    --ghost: #705898;
    --water: #6890f0;
    --ice: #98d8d8;
    --grass: #78c850;
    --bug: #a8b820;
    --normal: #a8a878;
    --rock: #b8a038;
    --ground: #e0c068;
    --electric: #f8d030;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#root, #__next {
    isolation: isolate;
}
